@import "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap";

* {
    font-family: "Space Grotesk", sans-serif;
    color: #fff
}

body {
    scrollbar-width: none
}

.text-logo {
    font-weight: 500;
    letter-spacing: 5px;
    margin-left: 50px;
}

.bg-color {
    background-color: #08212c
}

.valid-input {
    background-color: #4CAF50;
}

.invalid-input {
    background-color: #d32f2f;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 0;
}

.navigation a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none
}

.navigation li a:hover, .navigation li a.active {
    text-decoration: underline #f58800;
    text-underline-offset: 10px
}

.main-nav {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
}

.main-nav ul li {
    margin-bottom: 10px
}

.main-nav > li {
    margin-left: 26px;
}

#submenu ul {
    padding: 1.5vw 0;
    list-style: none;
    position: absolute;
    display: none
}

#submenu:hover ul {
    display: block
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px
}

html {
    scroll-behavior: smooth
}

body::-webkit-scrollbar {
    display: none
}


#openMenu {
    display: none;
    font-size: 25px;
    margin: 20px;
    align-self: flex-end;
}

#closeMenu {
    padding: 0;
    font-size: 50px;
    margin: 20px;
    color: #F58800;
}

#mobile-nav > section {
    display: flex;
    justify-content: space-between;
    background-color: #071B24;
    align-items: center;
}

#mobile-nav > section > h3 {
    padding-left: 20px;
}

.mobile-nav-overlay {
    height: 0;
    width: 100%;
    position: fixed;
    background-color: #FAF0E6;
    transition: height 0.5s;
    overflow: hidden;
}

.overlay-content > li {
    padding-bottom: 10px;

}

.overlay-content {
    text-align: left;
    list-style: none;
}

#mobile-nav a,
.submenu ul li {
    font-size: 25px;
    text-decoration: none;
    color: #08212C;
    list-style-type: square;
}

li::marker {
    color: #F58800;
}

#mobile-nav {
    z-index: 99;
}

@media screen and (max-width: 750px) {
    #openMenu {
        display: initial;
    }

    nav:not(#mobile-nav) {
        display: none;
    }
}


