body {
    background-color: #071B24;
    align-content: center
}

.info-list {
    display: grid;
    grid-template-columns: 10vw auto;
    grid-gap: 10px;
}

#main {
    margin-left: auto;
    margin-right: auto;
}

#personal-information, .product-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    background-color: #071B24;
}

#personal-information, #order-confirmation, #product-information, .product-list {
    padding: 10px;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.product-list {
    grid-area: product;
    text-align: center;
    list-style: none;
    justify-items: center;
}
