/* || General Styles */
body {
    background-color: #071B24;
}

.faq-section {
    background-color: #08212C;
    align-content: center;
    padding: 50px;
    height: 30vw;
    display: block;
}

summary {
    font-size: 25px;
    margin-bottom: 20px;
}

summary:hover {
    cursor: pointer;
}

summary::marker {
    color: #F58800;
}
