body {
    background-color: #071B24
}

.faq-section {
    background-color: #08212C;
    padding: 50px;
    display: block
}

summary {
    font-size: 25px;
    margin-bottom: 20px
}

summary:hover {
    cursor: pointer
}

summary::marker {
    color: #F58800
}

@media only screen and (max-width: 900px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .faq-section {
        display: flex;
        flex-direction: column;
    }

    details > summary, .faq-header > h2 {
        font-size: 30px;
    }

    details > p {
        font-size: 20px;
    }



}