body {
    background: #071B24 url(../../media/visuals/hero-background.png) no-repeat;
    background-size: contain
}

h3 {
    font-weight: 700;
    font-size: 42px
}

.hero-section {
    height: 950px
}

.hero-section article {
    width: 40vw;
    padding-left: 50px
}

.hero-section button {
    font-size: 22px;
    margin-top: 2vh;
    height: 70px;
    width: 255px;
    border-radius: 15px;
    cursor: pointer
}

.hero-section h3 {
    padding-top: 150px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    background-image: linear-gradient(to right, #F8BC24, #F58800);
    -webkit-background-clip: text;
    color: transparent
}

.hero-section h4 {
    font-size: 52px;
    font-weight: 700;
    margin: 0
}

.hero-section #goto-game {
    background-image: linear-gradient(to right, #F8BC24, #F58800);
    margin-right: 20px;
    border: none
}

.hero-section #goto-game:hover {
    background: transparent;
    border: solid #F58800 medium;
    border-radius: 10px
}

.hero-section #goto-all {
    border: solid #F58800 medium;
    background-color: transparent;
    border-radius: 10px
}

.hero-section #goto-all:hover {
    background-image: linear-gradient(to right, #F8BC24, #F58800)
}

.about-company {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    align-content: center;
    height: 950px
}

.about-myself {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
    align-content: center;
    justify-items: center;
    height: 800px;
    background-color: #08212C
}

.why-us {
    display: grid;
    text-align: center;
    background: #071B24 url(../../media/visuals/why-us-vector.png) no-repeat;
    background-size: contain;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"head head head" "art1 art2 art3"
}

.why-us-heading {
    grid-area: head;
    padding: 2vw 0
}

.why-us article {
    padding: 0 5vw 5vw
}

.why-us article h3 {
    font-size: 24px
}

.why-us-1 {
    grid-area: art1
}

.why-us-2 {
    grid-area: art2
}

.why-us-3 {
    grid-area: art3
}

.testimonials {
    background-color: #08212C;
    display: grid;
    text-align: center;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"head head head" "test1 test2 test3"
}

#test-1 {
    grid-area: test1
}

#test-2 {
    grid-area: test2
}

#test-3 {
    grid-area: test3
}

.testimonials-header {
    grid-area: head;
    padding: 5vw 0
}

.testimonials-header img {
    padding-top: 5vw
}

.testimonials article {
    display: flex;
    flex-direction: column;
    padding: 0 5vw 5vw
}

.testimonials q {
    height: 15vw
}

.testimonials h3, p {
    margin: 0
}

.about-company article, .about-myself article {
    max-width: 75%
}