main h2, .filter-section aside {
    margin-left: 50px;
    padding-top: 20px
}

#minecraft-section, #ark-section, #rust-section, #valheim-section, #farming-section, #hytale-section {
    padding-bottom: 20px;
}

.hero-section {
    height: 950px
}

.hero-section article {
    width: 30vw;
    padding-left: 40px
}

.hero-section h3 {
    padding-top: 150px;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    background-image: linear-gradient(to right, #F8BC24, #F58800);
    -webkit-background-clip: text;
    color: transparent
}

.hero-section h4 {
    font-size: 52px;
    font-weight: 700;
    margin: 0
}

.hero-section #hero-button {
    font-size: 22px;
    margin-top: 2vh;
    height: 70px;
    width: 255px;
    border-radius: 15px;
    cursor: pointer;
    background-image: linear-gradient(to right, #F8BC24, #F58800);
    margin-right: 20px;
    border: none
}

form {
    display: flex;
    flex-direction: row;
    align-self: end
}

select {
    padding: 5px;
    border-radius: 10px;
    color: #071B24
}

option {
    color: #071B24
}

.product-list {
    margin-left: 50px;
    max-width: 70vw;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.product-list li {
    max-width: 25%;
    text-align: center
}

.top-games-section {
    height: 30vw;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:"head head head" "game1 game2 game3";
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #08212C
}

#game-1 {
    grid-area: game1
}

#game-2 {
    grid-area: game2
}

#game-3 {
    grid-area: game3
}

.top-games-section h2 {
    padding: 0 0 30px;
    grid-area: head
}

.top-games {
    display: flex;
    justify-content: center
}

.container {
    width: 15vw;
    position: relative
}

.image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center
}

.container:hover .image {
    opacity: .3
}

.container:hover .middle {
    opacity: 1
}

.text {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 16px 32px
}

.filter-section aside label {
    margin-right: 30px
}

.product-list li, input[type="checkbox"] {
    display: none
}

input#chkPrice5:checked ~ section ul.product-list li.price-five, input#chkPrice8:checked ~ section ul.product-list li.price-eight, input#chkPrice10:checked ~ section ul.product-list li.price-ten, input#chkPrice12:checked ~ section ul.product-list li.price-twelf, input#chkPrice15:checked ~ section ul.product-list li.price-fifteen, input#chkPrice18:checked ~ section ul.product-list li.price-eighteen, input#chkPrice25:checked ~ section ul.product-list li.price-twentyfive, input#chkPriceDepends:checked ~ section ul.product-list li.price-depends {
    display: initial
}

input#chkPrice5 ~ .filter-section aside label[for="chkPrice5"]::before, input#chkPrice8 ~ .filter-section aside label[for="chkPrice8"]::before, input#chkPrice10 ~ .filter-section label[for="chkPrice10"]::before, input#chkPrice12 ~ .filter-section aside label[for="chkPrice12"]::before, input#chkPrice15 ~ .filter-section aside label[for="chkPrice15"]::before, input#chkPrice18 ~ .filter-section aside label[for="chkPrice18"]::before, input#chkPrice25 ~ .filter-section aside label[for="chkPrice25"]::before, input#chkPriceDepends ~ .filter-section aside label[for="chkPriceDepends"]::before {
    content: '\2610'
}

input#chkPrice5:checked ~ .filter-section aside label[for="chkPrice5"]::before, input#chkPrice8:checked ~ .filter-section aside label[for="chkPrice8"]::before, input#chkPrice10:checked ~ .filter-section aside label[for="chkPrice10"]::before, input#chkPrice12:checked ~ .filter-section aside label[for="chkPrice12"]::before, input#chkPrice15:checked ~ .filter-section aside label[for="chkPrice15"]::before, input#chkPrice18:checked ~ .filter-section aside label[for="chkPrice18"]::before, input#chkPrice25:checked ~ .filter-section aside label[for="chkPrice25"]::before, input#chkPriceDepends:checked ~ .filter-section aside label[for="chkPriceDepends"]::before {
    content: '\2612'
}

input {
    color: #000
}

#lbl-name, select {
    margin-left: 50px
}

input[type=number], input[type=text] {
    width: 7%;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px
}

#filter-button, li > button {
    background-color: #4CAF50;
    color: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer
}

#filter-button:hover {
    background-color: #45a049
}

@media only screen and (max-width: 900px) {
    .navigation {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #071B24;
    }

    .product-list {
        flex-direction: column;
    }

    .hero-section, .hero-section > article, .hero-section > article > h3, .container, .product-list li {
        height: fit-content;
        width: auto;
        padding: 0;

    }

    .top-games-section h2, .hero-section #hero-button, .filter-section, .filter-section aside, .filter-section aside label, main h2, .product-list, main section, #lbl-name {
        padding: 0;
        margin: 0;
    }

    .top-games-section {
        padding: 20px;
    }

    .hero-section {
        padding: 50px 50px;
    }

    .top-games-section {
        display: flex;
        flex-direction: column;;
        height: fit-content;
        gap: 25px;
    }

    .filter-section aside, main > section, .sorting-options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-list li {
        max-width: none;
    }

    select {
        min-width: 150px;
        margin: 0;
    }

    .sorting-options, .a2-filter {
        gap: 10px;
    }

    #name-filter, #min-price-filter, #max-price-filter {
        width: auto;
    }

    #minecraft-section, #ark-section, #rust-section, #valheim-section, #farming-section, #hytale-section {
        gap: 20px;
        padding-top: 20px;
    }

    .a2-filter, .filter-section {
        margin: 35px 0;
    }

}


@media only screen and (min-width: 900px) {
    body {
        background: #071B24;
    }

    .hero-section {
        height: fit-content;
        padding: 20px 50px;
    }

    .hero-section > article > h3 {
        padding: 0;
    }

    .hero-section > article {
        padding: 0;
        width: auto;
    }
    .product-list {
        max-width: none;
    }
}

